{% extends "blog/base.html" %}
{%  block content %}
  <h1>Liste des auteurs du blog</h1>

    <div>
      <label for="item">Entrez un Auteur :</label>
      <input type="text" name="Ajouter" id="item">
      <button class="btn btn-secondary" id="btnAjout" >Ajouter</button>
    </div>

    <ul>

    </ul>

    <script>
      var list = document.querySelector('ul');
      var input = document.querySelector('input');
      var button = document.getElementById("btnAjout");

      button.addEventListener("click", ajoutAuteur)

      function ajoutAuteur() {
        let myItem = input.value;
        input.value = '';

        const listItem = document.createElement('li');
        const listText = document.createElement('span');
        const listBtn = document.createElement('button');

        listItem.appendChild(listText);
        listText.textContent = myItem;
        listItem.appendChild(listBtn);
        listBtn.textContent = 'Supprimer';
        listBtn.className = 'btn btn-primary';
        list.appendChild(listItem);

        listBtn.onclick = function(e) {
          list.removeChild(listItem);
        }

        input.focus();
      }
    </script>
{% endblock content%}

